body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --bgColorPrimary: #292828;
  --txtClrLight: #fff;
  --txtClrLightGray: rgba(255, 255, 255, 0.50);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

.nav{
  background-color: var(--bgColorPrimary);
  color: var(--txtClrLight);
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  position: sticky;
  top: 0;
}

.search-component{
  flex: 1 1;
  max-width: 750px;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-right: 0.5rem;
}

.search-container{
  flex: 1 1;
  padding: 4px 1rem;
  background-color: #373737;

}

.search-input{
  flex: 1 1;
  height: 30px;
  font-size: 1.1rem;
  background-color: transparent;
  color: var(--txtClrLight);
  border: none;
}

.search-input:focus{
  outline: none;
  border: none;
}

.search-component .btn{
  padding: 0.5rem 2rem;
  color: var(--txtClrLightGray);
  background-color: var(--bgColorPrimary);
  border: 2px solid var(--txtClrLightGray);
  /* height: 30px; */
} 

.user_profile{
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  outline: 3px solid var(--txtClrLightGray);
}

.user_profile img{
  width: 100%;
}

.App{
  height: 100dvh;
  overflow-y: scroll;
  background-color: #242121;
}

::-webkit-scrollbar{
  display: none;
}